body{
    /*background-color: forestgreen;*/
    display: flex;
    flex-direction: column;
    /*margin: 20px;*/
    font-weight: 800;
}

/*premier bloc de couleur grise*/
.div1{
    background-color: darkgrey;
    display: flex;
    height: 100px;
    /*height: 50px;*/
    width: 100%;
    margin-bottom:30px;
}

/* elements noirs à l'interieur du bloc bleu*/
.element_div2{
    margin-top: 15px;
    flex-wrap: wrap;
    /*margin-bottom: 5px;*/
    margin-left: 2%;
    margin-right: 2%;
    height: 120px;
    width: 33%;
    background-color: black;
}
.element_div3_1{
    margin-top: 15px;
    flex-wrap: wrap;
    /*margin-bottom: 5px;*/
    margin-left: 2%;
   /* margin-right: 2%;*/
    height: 120px;
    width: 33%;
    background-color: black;
}
.element_div3{
    display: flex;
    margin-top: 15px;
    /*padding-bottom: 5px;*/
    margin-right: 2%;
    margin-left: 2%;
    height: 120px;
    width: 62%;
    background-color: black;
    flex-direction: column;
}
.element_div3_enfant1{
    margin-top: 15px;
    /*margin-bottom: 5px;*/
    /*margin-left: 10px;*/
    height: 25px;
    width: 100%;
    background-color:darksalmon;
}
.element_div3_enfant2{
    margin-top: 15px;
    margin-bottom: 15px;
    /*margin-left: 10px;*/
    height: 25px;
    width: 100%;
    background-color:darksalmon;
}
.element_div3_enfant3{
    /*margin-top: 15px;*/
    margin-bottom: 15px;
    /*margin-left: 10px;*/
    height: 25px;
    width: 100%;
    background-color:darksalmon;
}

.div2{
    background-color:cornflowerblue;
    display: flex;
    height: 150px;
    margin-bottom:60px;
    width: 100%;
}
.div3{
    background-color:darkorange;
    display: flex;
    height: 150px;
}

/* quatrieme bloc*/
.div4{
    background-color: black;
    display: flex;
    height: 150px;
}
.element_div4{
    margin-top: 15px;
    /*margin-bottom: 5px;*/
    margin-left: 30px;
    height: 120px;
    width: 20%;
    background-color: darksalmon;
}
.element_div4_2{
    display: flex;
    margin-top: 15px;
    margin-right: 2%;
    height: 120px;
    width: 30%;
   background-color: yellow;
    flex-wrap: wrap;
    /*padding: 1%;*/
    }
.element_div4_invisible{
    margin-top: 15px;
    /*margin-bottom: 5px;*/
    margin-left: 30px;
    height: 120px;
    width: 10%;

}
.element_element_div4
{   display: flex;
    height: 25%;
    width: 100%;
   }
.element_div4_2_enfant{
    height: 25px;
    width: 35%;
    margin: 5px;
    background-color: darksalmon;
}